In [1]:
import h5py
import pandas as pd

In [2]:
hf = h5py.File('../data/book_events_total_view_2017-01-03.h5', 'r')
# List all groups
print("Keys: %s" % hf.keys())
a_group_key = list(hf.keys())[0]
data = list(hf[a_group_key])
hf.close()

Keys: KeysView(<HDF5 file "book_events_total_view_2017-01-03.h5" (mode r)>)

In [3]:
df = pd.read_hdf('../data/book_events_total_view_2017-01-03.h5', key = a_group_key)

In [18]:
(df.timestamp[len(df) - 1] - df.timestamp[0])/1000000000/3600

12.999944270983889

In [30]:
# Start of Exploration

df.head()
def summarize_df(dataframe):
    print("\n\n======= Book Event Type =======\n"+str(df['book_event_type'].value_counts()),"\n"+
        "======= Side =======\n"+str(df['side'].value_counts()), "\n"+
        "======= Order ID =======\n"+str(df['order_id'].value_counts()), "\n"+
        "======= Price =======\n"+str(df['price'].value_counts()),)



summarize_df(df)


mod_df = (df[df.book_event_type == 'M'])
trade_df = (df[df.book_event_type == 'T'])

unknowns = (df[df.side == 'U'])
print(sum(df.side == 'U'))
print(sum(df.book_event_type == 'T'))
# unknowns

trade_df

======= Book Event Type =======
A    60353
C    58354
M    10602
T     2730
Name: book_event_type, dtype: int64
======= Side =======
A    66275
B    65447
U      317
Name: side, dtype: int64
======= Order ID =======
121592505    1001
46390137     1001
91068225     1001
10539357     1001
199339465     713
32144601      477
31924213      452
10539361      447
236700905     335
32181029      326
0             317
31914273      297
31997237      284
32485153      103
32264841      101
31914241       95
33809469       89
34668197       87
16095289       53
212870001      50
16022521       47
16510897       40
212902341      37
16590413       36
16751425       33
13479457       22
17634953       18
16523585       15
13479469       14
11443361       13
             ...
33434769        2
273670145       2
227986701       2
263282081       2
114435381       2
142175609       2
174665073       2
186828237       2
215346537       2
199339361       2
120589653       2
228601169       2
81841485        2
182126041       2
270281517       2
100437317       2
193245305       2
82726173        2
101403965       2
131159425       2
102198585       2
183788257       2
230947481       2
116862257       2
264115305       2
271043885       2
227409981       2
32238889        2
217025829       2
216285041       2
Name: order_id, Length: 60354, dtype: int64
======= Price =======
46320000000    3361
46350000000    3206
46330000000    3050
46310000000    3039
46340000000    3029
46300000000    3011
46470000000    2960
46460000000    2855
46360000000    2674
46130000000    2629
46290000000    2605
46450000000    2569
46140000000    2560
46270000000    2500
46150000000    2499
46280000000    2478
46160000000    2465
46370000000    2422
46260000000    2388
46120000000    2364
46440000000    2295
46480000000    2290
46180000000    2267
46170000000    2191
46250000000    2155
46110000000    2086
46240000000    2060
46430000000    2042
46390000000    2008
46400000000    1997
               ...
45340000000       1
42160000000       1
45070000000       1
46275000000       1
46195000000       1
46445000000       1
46545000000       1
45210000000       1
42020000000       1
42150000000       1
44740000000       1
55420000000       1
48060000000       1
42030000000       1
46255000000       1
42070000000       1
42000000000       1
45470000000       1
42270000000       1
42170000000       1
41860000000       1
35600000000       1
41970000000       1
44420000000       1
46245000000       1
42060000000       1
42380000000       1
35440000000       1
42040000000       1
46165000000       1
Name: price, Length: 495, dtype: int64
317
2730

,timestamp,order_id,book_event_type,price,quantity,aux_quantity,side,aux1,aux2
277,1483453800048957906,0,T,45930000000,100,0,U,35,0
569,1483453923291060179,0,T,45960000000,65,0,U,35,0
570,1483453923291060179,14151601,T,45950000000,100,0,B,35,0
571,1483453923291060179,14151605,T,45950000000,135,65,B,35,0
599,1483453981377368442,14151605,T,45950000000,65,0,B,35,0
600,1483453981377368442,14298829,T,45950000000,40,0,B,35,0
662,1483454035243159487,15594233,T,45970000000,30,0,A,35,0
663,1483454035243159487,15614197,T,45970000000,70,30,A,35,0
664,1483454035243770860,15614197,T,45970000000,30,0,A,35,0
687,1483454042852670110,15765769,T,45990000000,100,0,A,35,0
957,1483454150033705316,0,T,46030000000,100,0,U,35,0
994,1483454153555385641,17949865,T,45990000000,100,0,B,35,0
1012,1483454153730131052,17929061,T,45980000000,100,0,B,35,0
1050,1483454164828051596,17953261,T,46010000000,100,0,A,35,0
1159,1483454208982999004,18719121,T,45980000000,100,0,B,35,0
1320,1483454222726058475,19149625,T,45980000000,200,0,A,35,0
1321,1483454222726058475,19149629,T,45980000000,100,0,A,35,0
1344,1483454223152370251,19150161,T,45980000000,100,0,B,35,0
1759,1483454301033433049,19018837,T,45890000000,100,0,B,35,0
1760,1483454301033433049,20280841,T,45890000000,100,0,B,35,0
1977,1483454354104034796,0,T,45910000000,72,0,U,35,0
2037,1483454379521567218,0,T,45900000000,100,0,U,35,0
2110,1483454405021455049,22141113,T,45910000000,25,0,A,35,0
2163,1483454421762246072,0,T,45900000000,100,0,U,35,0
2254,1483454439204203352,22781113,T,45920000000,100,0,B,35,0
2269,1483454440666648119,22330053,T,45940000000,100,0,A,35,0
2270,1483454440666648119,22788661,T,45940000000,22,178,A,35,0
2435,1483454526006965734,23957677,T,45920000000,100,0,B,35,0
2554,1483454535993792220,23884637,T,45890000000,8,92,B,35,0
2560,1483454536310762561,23884637,T,45890000000,50,42,B,35,0
...,...,...,...,...,...,...,...,...,...
130520,1483477147724917724,0,T,46495000000,61,0,U,35,0
130524,1483477148235215745,0,T,46495000000,23,0,U,35,0
130582,1483477156348167039,277390257,T,46490000000,100,0,B,35,0
130583,1483477156348167039,278078565,T,46490000000,1,99,B,35,0
130604,1483477157591355539,0,T,46495000000,79,0,U,35,0
130614,1483477159792052172,278078565,T,46490000000,99,0,B,35,0
130615,1483477159792052172,278087221,T,46490000000,1,23,B,35,0
130655,1483477161931681364,0,T,46495000000,81,0,U,35,0
130787,1483477168127241000,278468845,T,46490000000,176,0,B,35,0
130788,1483477168127241000,278468877,T,46490000000,10,0,B,35,0
130789,1483477168127241000,278473341,T,46490000000,14,9,B,35,0
130812,1483477168169523939,0,T,46485000000,200,0,U,35,0
130829,1483477168447544693,0,T,46485000000,100,0,U,35,0
130886,1483477170025821492,277702433,T,46470000000,20,80,B,35,0
130889,1483477170032166510,277702433,T,46470000000,20,60,B,35,0
130890,1483477170032623156,277702433,T,46470000000,20,40,B,35,0
130898,1483477170052837543,277702433,T,46470000000,23,17,B,35,0
130903,1483477170078231230,277702433,T,46470000000,17,0,B,35,0
130983,1483477170845841884,0,T,46475000000,100,0,U,35,0
131019,1483477171653788983,278706273,T,46470000000,10,0,B,35,0
131058,1483477172280112005,0,T,46475000000,100,0,U,35,0
131339,1483477183191072352,0,T,46475000000,100,0,U,35,0
131340,1483477183372411109,0,T,46475000000,100,0,U,35,0
131344,1483477183645776823,0,T,46475000000,80,0,U,35,0
131422,1483477190194231018,278726609,T,46480000000,25,175,A,35,0
131432,1483477191083551228,278726609,T,46480000000,4,171,A,35,0
131438,1483477193485703684,278726609,T,46480000000,97,74,A,35,0
131443,1483477194340335279,278726609,T,46480000000,25,49,A,35,0
131444,1483477194340879961,278726609,T,46480000000,49,0,A,35,0
131517,1483477195927881114,0,T,46485000000,2,0,U,35,0

In [ ]:
df[df.aux_quantity>0]

In [15]:
df[df.order_id == 14151601]

,timestamp,order_id,book_event_type,price,quantity,aux_quantity,side,aux1,aux2
550,1483453920571672946,14151601,A,45950000000,100,0,B,0,0
570,1483453923291060179,14151601,T,45950000000,100,0,B,35,0

In [12]:
df.aux2.value_counts()

0    132039
Name: aux2, dtype: int64

In [ ]:
h5f = h5py.File('features.h5', 'w')
h5f.create_dataset('training_data', data=training_data)
h5f.close()

In [ ]:
# Start of Project Pre-Processing using CSV

import pandas as pd
import os

os.chdir('C:\\Users\\alxgr\\Documents\\UVA\\DSI\\Spring 2019\\ML\\Project')
df = pd.read_csv("./Data_Project-1-Prediction_Book_event_levelII_BAC_book_events_sip-nyse_2016-05-02.csv")
df.head()

def summarize_df(dataframe):
    print("\n\n======= Book Event Type =======\n"+str(df['book_event_type'].value_counts()),"\n"+
        "======= Side =======\n"+str(df['side'].value_counts()), "\n"+
        "======= Order ID =======\n"+str(df['order_id'].value_counts()), "\n"+
        "======= Price =======\n"+str(df['price'].value_counts()),)



summarize_df(df)


sum(df.side =='U'and df.order_id == 0)